In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\hi\Documents\Desktop\Minskole classes\Pandas\foodhub_order.csv")
data

,order_id,customer id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24
...,...,...,...,...,...,...,...,...,...
1893,1476701,292602,Chipotle Mexican Grill $1.99 Delivery,Mexican,22.31,Weekend,5,31,17
1894,1477421,397537,The Smile,American,12.18,Weekend,5,31,19
1895,1477819,35309,Blue Ribbon Sushi,Japanese,25.22,Weekday,Not given,31,24
1896,1477513,64151,Jack's Wife Freda,Mediterranean,12.18,Weekday,5,23,31
1897,1478056,120353,Blue Ribbon Sushi,Japanese,19.45,Weekend,Not given,28,24

In [3]:
data.head()

,order_id,customer id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24

In [4]:
data.size

17082

In [5]:
data.index

RangeIndex(start=0, stop=1898, step=1)

In [6]:
data.describe()

,order_id,customer id,cost_of_the_order,food_preparation_time,delivery_time
count,1.898000e+03,1898.000000,1898.000000,1898.000000,1898.000000
mean,1.477496e+06,171168.478398,16.498851,27.371970,24.161749
std,5.480497e+02,113698.139743,7.483812,4.632481,4.972637
min,1.476547e+06,1311.000000,4.470000,20.000000,15.000000
25%,1.477021e+06,77787.750000,12.080000,23.000000,20.000000
50%,1.477496e+06,128600.000000,14.140000,27.000000,25.000000
75%,1.477970e+06,270525.000000,22.297500,31.000000,28.000000
max,1.478444e+06,405334.000000,35.410000,35.000000,33.000000

In [7]:
data.empty

False

In [8]:
data.values

array([[1477147, 337525, 'Hangawi', ..., 'Not given', 25, 20],
       [1477685, 358141, 'Blue Ribbon Sushi Izakaya', ..., 'Not given',
        25, 23],
       [1477070, 66393, 'Cafe Habana', ..., '5', 23, 28],
       ...,
       [1477819, 35309, 'Blue Ribbon Sushi', ..., 'Not given', 31, 24],
       [1477513, 64151, "Jack's Wife Freda", ..., '5', 23, 31],
       [1478056, 120353, 'Blue Ribbon Sushi', ..., 'Not given', 28, 24]],
      shape=(1898, 9), dtype=object)

In [9]:
data.columns

Index(['order_id', 'customer id', 'restaurant_name', 'cuisine_type',
       'cost_of_the_order', 'day_of_the_week', 'rating',
       'food_preparation_time', 'delivery_time'],
      dtype='object')

In [10]:
data.T

,0,1,2,3,4,5,6,7,8,9,...,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897
order_id,1477147,1477685,1477070,1477334,1478249,1477224,1477894,1477859,1477174,1477311,...,1477353,1478190,1477316,1476981,1477473,1476701,1477421,1477819,1477513,1478056
customer id,337525,358141,66393,106968,76942,147468,157711,89574,121706,39705,...,106324,94152,164776,138586,97838,292602,397537,35309,64151,120353
restaurant_name,Hangawi,Blue Ribbon Sushi Izakaya,Cafe Habana,Blue Ribbon Fried Chicken,Dirty Bird to Go,Tamarind TriBeCa,The Meatball Shop,Barbounia,Anjappar Chettinad,Bukhara Grill,...,The Meatball Shop,RedFarm Broadway,TAO,Shake Shack,Han Dynasty,Chipotle Mexican Grill $1.99 Delivery,The Smile,Blue Ribbon Sushi,Jack's Wife Freda,Blue Ribbon Sushi
cuisine_type,Korean,Japanese,Mexican,American,American,Indian,Italian,Mediterranean,Indian,Indian,...,Italian,Chinese,Japanese,American,Chinese,Mexican,American,Japanese,Mediterranean,Japanese
cost_of_the_order,30.75,12.08,12.23,29.2,11.59,25.22,6.07,5.97,16.44,7.18,...,16.2,8.68,15.67,5.82,29.15,22.31,12.18,25.22,12.18,19.45
day_of_the_week,Weekend,Weekend,Weekday,Weekend,Weekday,Weekday,Weekend,Weekday,Weekday,Weekday,...,Weekend,Weekday,Weekend,Weekend,Weekend,Weekend,Weekend,Weekday,Weekday,Weekend
rating,Not given,Not given,5,3,4,3,Not given,3,5,5,...,5,3,5,Not given,Not given,5,5,Not given,5,Not given
food_preparation_time,25,25,23,25,25,20,28,33,21,29,...,21,33,20,22,29,31,31,31,23,28
delivery_time,20,23,28,15,24,24,21,30,26,26,...,26,30,22,28,21,17,19,24,31,24

In [11]:
# Accessing columns 
#  using dot - not recommended  # Applicaple whoes satisfies varible name rule
                                # Can not retrive multiple columns
#  using [] : # retrive multiple columns

In [12]:
#  using dot

In [13]:
data.columns

Index(['order_id', 'customer id', 'restaurant_name', 'cuisine_type',
       'cost_of_the_order', 'day_of_the_week', 'rating',
       'food_preparation_time', 'delivery_time'],
      dtype='object')

In [14]:
data.rating

0       Not given
1       Not given
2               5
3               3
4               4
          ...
1893            5
1894            5
1895    Not given
1896            5
1897    Not given
Name: rating, Length: 1898, dtype: object

In [15]:
data.order_id

0       1477147
1       1477685
2       1477070
3       1477334
4       1478249
         ...
1893    1476701
1894    1477421
1895    1477819
1896    1477513
1897    1478056
Name: order_id, Length: 1898, dtype: int64

In [16]:
data.customer id

SyntaxError: invalid syntax (4151100193.py, line 1)