In [1]:
import pandas as pd

In [ ]:
# # Rename 
# # Syntax
# 1)Row labelled
#  dataframe_name.rename(index         = {1:"One",               4:"Four"} , inplace= True/False)
#                        For Row         Old value : New value,

# 2)Columns labelled
#  dataframe_name.rename(columns         = {1:"One",               4:"Four"} , inplace= True/False)
#                        For Column         Old value : New value,

In [ ]:
# # Drop 
# # Syntax
# # 1) Drop record (row)
# dataframe_name.drop([row_index], inplace= True/False) # By default axis=0

# # 2) Drop column
# dataframe_name.drop([column_name], axis=1, inplace= True/False)

In [ ]:
# Change column datatype /Typecasting
# Syntax
# dataframe/column.astype(new_datatype)

In [ ]:
# Export data to excel/csv
#1) Excel file: 
#               DataFrame_name.to_excel(r"path/filename.xlsx",index=False/True)
#2) CSV file: 
#               DataFrame_name.to_csv(r"path/filename.csv",index=False/True)

In [4]:
# Load "Input data2"
data=pd.read_excel(r"E:\Minskole Batch\Python Batch\Input data2.xlsx")

In [11]:
data.head(2)

  First Name Last Name English Physics Chemistry Mathematics
1      Aarav     Patil      85      78        90          92
2     Vihaan  Deshmukh      88      81        85          89

In [10]:
data.drop(0,inplace=True) # axis=0

In [12]:
data.head(2)

  First Name Last Name English Physics Chemistry Mathematics
1      Aarav     Patil      85      78        90          92
2     Vihaan  Deshmukh      88      81        85          89

In [13]:
# Add "Name" column ( Combination of "First Name" and "Last Name")
data["Name"] = data["First Name"] +" "+ data["Last Name"]

In [18]:
data.head(2)

  First Name Last Name English Physics Chemistry Mathematics        Full Name
1      Aarav     Patil      85      78        90          92      Aarav Patil
2     Vihaan  Deshmukh      88      81        85          89  Vihaan Deshmukh

In [17]:
# Change column name from "Name" to "Full Name"
data.rename(columns={#key : value
                      # old value  : New Value
                      "Name" : "Full Name"},inplace=True)

In [19]:
data.head(2)

  First Name Last Name English Physics Chemistry Mathematics        Full Name
1      Aarav     Patil      85      78        90          92      Aarav Patil
2     Vihaan  Deshmukh      88      81        85          89  Vihaan Deshmukh

In [20]:
data.columns

Index(['First Name', 'Last Name', 'English', 'Physics', 'Chemistry',
       'Mathematics', 'Full Name'],
      dtype='object')

In [25]:
data2 = data.copy()

In [29]:
data2.head(2)

         Full Name First Name Last Name English Physics Chemistry Mathematics
1      Aarav Patil      Aarav     Patil      85      78        90          92
2  Vihaan Deshmukh     Vihaan  Deshmukh      88      81        85          89

In [ ]:
# Delete not required columns (First Name" and "Last Name")

In [36]:
data.drop(["First Name","Last Name"],axis=1,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13652\2910314983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(["First Name","Last Name"],axis=1,inplace=True)

In [37]:
data

          Full Name English Physics Chemistry Mathematics
1       Aarav Patil      85      78        90          92
2   Vihaan Deshmukh      88      81        85          89
3      Ayaan Jadhav      90      75        88          84
4        Arjun More      76      89        91          78
5     Reyansh Joshi      82      80        84          85
..              ...     ...     ...       ...         ...
61     Tarun Dhumal      82      87        81          85
62    Arnav Khedkar      85      90        78          89
63      Payal Patil      89      76        87          91
64      Rahul Kadam      81      83        84          90
65       Jay Bhagat      90      77        65          88

[65 rows x 5 columns]

In [ ]:
# Change sequence of columns

In [30]:
data2 = data2[['Full Name', 'English', 'Physics', 'Chemistry',
       'Mathematics']]

In [31]:
data2

          Full Name English Physics Chemistry Mathematics
1       Aarav Patil      85      78        90          92
2   Vihaan Deshmukh      88      81        85          89
3      Ayaan Jadhav      90      75        88          84
4        Arjun More      76      89        91          78
5     Reyansh Joshi      82      80        84          85
..              ...     ...     ...       ...         ...
61     Tarun Dhumal      82      87        81          85
62    Arnav Khedkar      85      90        78          89
63      Payal Patil      89      76        87          91
64      Rahul Kadam      81      83        84          90
65       Jay Bhagat      90      77        65          88

[65 rows x 5 columns]

In [42]:
# Check there is any duplicate records if yes then delete those
# See duplicate record
data[data.duplicated()]

Empty DataFrame
Columns: [Full Name, English, Physics, Chemistry, Mathematics]
Index: []

In [41]:
# Delete duplicate records
data.drop_duplicates(inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13652\188478926.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop_duplicates(inplace=True)

In [44]:
data.head(2)

         Full Name English Physics Chemistry Mathematics
1      Aarav Patil      85      78        90          92
2  Vihaan Deshmukh      88      81        85          89

In [ ]:
# Add "Total Marks" column

In [45]:
data["Total Marks"] = data["English"]+data["Physics"]+data["Chemistry"]+data["Mathematics"]

C:\Users\Admin\AppData\Local\Temp\ipykernel_13652\567487594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Total Marks"] = data["English"]+data["Physics"]+data["Chemistry"]+data["Mathematics"]

In [48]:
# Check datatype
data.dtypes

Full Name      object
English        object
Physics        object
Chemistry      object
Mathematics    object
Total Marks    object
dtype: object

In [49]:
data

            Full Name English Physics Chemistry Mathematics Total Marks
1         Aarav Patil      85      78        90          92    85789092
2     Vihaan Deshmukh      88      81        85          89         343
3        Ayaan Jadhav      90      75        88          84         337
4          Arjun More      76      89        91          78         334
5       Reyansh Joshi      82      80        84          85         331
6         Vivaan Nair      87      83        79          90         339
7        Aditya Pawar      92      88        76          91         347
8   Rohan Suryavanshi      78      82        90          86         336
9       Krish Bhosale      80      85        83          89         337
10     Samarth Shinde      89      79        87          88         343
11        Aarav Patil      85      78        90          92         345
21      Riya Kulkarni      91      84        78          87         340
22      Anaya Gawande      84      90        82          88         344
23        Isha Kamble      79      76        89          92         336
24        Kaira Nikam      88      80        84          90         342
25     Tejas Waghmare      85      82        90          85         342
26     Rishabh Ghadge      92      78        86          81         337
27   Kunal Kshirsagar      81      81        85          88         335
28       Tanvi Ingale      78      77        83          92         330
29       Disha Chavan      86      83        80          89         338
30    Shreya Dandekar      89      75        88          90         342
31       Aditi Rajput      90      88        82          87         347
32   Radhika Ghorpade      83      79        91          88         341
33    Nikhil Patankar      87      80        89          84         340
34     Aarvi Bhandari      90      81        85          91         347
35    Raghav Khedekar      79      86        82          90         337
36      Sneha Gokhale      88      84        90          86         348
37       Pooja Mhatre      84      79        88          92         343
38       Tarun Dhumal      82      87        81          85         335
39      Arnav Khedkar      85      90        78          89         342
40        Payal Patil      89      76        87          91         343
41        Rahul Kadam      81      83        84          90         338
42        Jaya Bhagat      92      88        76          89         345
43    Misha Choudhary      78      85        90          86         339
65         Jay Bhagat      90      77        65          88         320

In [ ]:
# Export data

### Change column datatype

In [ ]:
# Change column datatype /Typecasting
# Syntax
# dataframe/column.astype(new_datatype)

In [57]:
data.dtypes

Full Name      object
English        object
Physics         int64
Chemistry      object
Mathematics    object
Total Marks    object
dtype: object

In [56]:
data["Physics"].dtype

dtype('int64')

In [63]:
data["Physics"] = data["Physics"].astype("int")

In [64]:
data["English"] = data["English"].astype("int")

In [61]:
data["Chemistry"] = data["Chemistry"].astype("int")

In [62]:
data["Mathematics"] = data["Mathematics"].astype("int")

In [58]:
data.columns

Index(['Full Name', 'English', 'Physics', 'Chemistry', 'Mathematics',
       'Total Marks'],
      dtype='object')

In [60]:
# Ignore/Hide warnings
import warnings
warnings.filterwarnings("ignore")

In [69]:
data.head()

         Full Name  English  Physics  Chemistry  Mathematics  Total Marks
1      Aarav Patil       85       78         90           92          345
2  Vihaan Deshmukh       88       81         85           89          343
3     Ayaan Jadhav       90       75         88           84          337
4       Arjun More       76       89         91           78          334
5    Reyansh Joshi       82       80         84           85          331

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, 1 to 65
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Full Name    35 non-null     object
 1   English      35 non-null     int64
 2   Physics      35 non-null     int64
 3   Chemistry    35 non-null     int64
 4   Mathematics  35 non-null     int64
 5   Total Marks  35 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.9+ KB

In [65]:
data

            Full Name  English  Physics  Chemistry  Mathematics Total Marks
1         Aarav Patil       85       78         90           92    85789092
2     Vihaan Deshmukh       88       81         85           89         343
3        Ayaan Jadhav       90       75         88           84         337
4          Arjun More       76       89         91           78         334
5       Reyansh Joshi       82       80         84           85         331
6         Vivaan Nair       87       83         79           90         339
7        Aditya Pawar       92       88         76           91         347
8   Rohan Suryavanshi       78       82         90           86         336
9       Krish Bhosale       80       85         83           89         337
10     Samarth Shinde       89       79         87           88         343
11        Aarav Patil       85       78         90           92         345
21      Riya Kulkarni       91       84         78           87         340
22      Anaya Gawande       84       90         82           88         344
23        Isha Kamble       79       76         89           92         336
24        Kaira Nikam       88       80         84           90         342
25     Tejas Waghmare       85       82         90           85         342
26     Rishabh Ghadge       92       78         86           81         337
27   Kunal Kshirsagar       81       81         85           88         335
28       Tanvi Ingale       78       77         83           92         330
29       Disha Chavan       86       83         80           89         338
30    Shreya Dandekar       89       75         88           90         342
31       Aditi Rajput       90       88         82           87         347
32   Radhika Ghorpade       83       79         91           88         341
33    Nikhil Patankar       87       80         89           84         340
34     Aarvi Bhandari       90       81         85           91         347
35    Raghav Khedekar       79       86         82           90         337
36      Sneha Gokhale       88       84         90           86         348
37       Pooja Mhatre       84       79         88           92         343
38       Tarun Dhumal       82       87         81           85         335
39      Arnav Khedkar       85       90         78           89         342
40        Payal Patil       89       76         87           91         343
41        Rahul Kadam       81       83         84           90         338
42        Jaya Bhagat       92       88         76           89         345
43    Misha Choudhary       78       85         90           86         339
65         Jay Bhagat       90       77         65           88         320

In [66]:
data["Total Marks"]=data['English']+data[ 'Physics']+data[ 'Chemistry']+data['Mathematics']

In [67]:
data

            Full Name  English  Physics  Chemistry  Mathematics  Total Marks
1         Aarav Patil       85       78         90           92          345
2     Vihaan Deshmukh       88       81         85           89          343
3        Ayaan Jadhav       90       75         88           84          337
4          Arjun More       76       89         91           78          334
5       Reyansh Joshi       82       80         84           85          331
6         Vivaan Nair       87       83         79           90          339
7        Aditya Pawar       92       88         76           91          347
8   Rohan Suryavanshi       78       82         90           86          336
9       Krish Bhosale       80       85         83           89          337
10     Samarth Shinde       89       79         87           88          343
11        Aarav Patil       85       78         90           92          345
21      Riya Kulkarni       91       84         78           87          340
22      Anaya Gawande       84       90         82           88          344
23        Isha Kamble       79       76         89           92          336
24        Kaira Nikam       88       80         84           90          342
25     Tejas Waghmare       85       82         90           85          342
26     Rishabh Ghadge       92       78         86           81          337
27   Kunal Kshirsagar       81       81         85           88          335
28       Tanvi Ingale       78       77         83           92          330
29       Disha Chavan       86       83         80           89          338
30    Shreya Dandekar       89       75         88           90          342
31       Aditi Rajput       90       88         82           87          347
32   Radhika Ghorpade       83       79         91           88          341
33    Nikhil Patankar       87       80         89           84          340
34     Aarvi Bhandari       90       81         85           91          347
35    Raghav Khedekar       79       86         82           90          337
36      Sneha Gokhale       88       84         90           86          348
37       Pooja Mhatre       84       79         88           92          343
38       Tarun Dhumal       82       87         81           85          335
39      Arnav Khedkar       85       90         78           89          342
40        Payal Patil       89       76         87           91          343
41        Rahul Kadam       81       83         84           90          338
42        Jaya Bhagat       92       88         76           89          345
43    Misha Choudhary       78       85         90           86          339
65         Jay Bhagat       90       77         65           88          320

In [70]:
data["Percentage"]=(data["Total Marks"]/400)*100  # Recived marks/Total marks *100

In [71]:
data

,Full Name,English,Physics,Chemistry,Mathematics,Total Marks,Percentage
1,Aarav Patil,85,78,90,92,345,86.25
2,Vihaan Deshmukh,88,81,85,89,343,85.75
3,Ayaan Jadhav,90,75,88,84,337,84.25
4,Arjun More,76,89,91,78,334,83.50
5,Reyansh Joshi,82,80,84,85,331,82.75
6,Vivaan Nair,87,83,79,90,339,84.75
7,Aditya Pawar,92,88,76,91,347,86.75
8,Rohan Suryavanshi,78,82,90,86,336,84.00
9,Krish Bhosale,80,85,83,89,337,84.25
10,Samarth Shinde,89,79,87,88,343,85.75
11,Aarav Patil,85,78,90,92,345,86.25
21,Riya Kulkarni,91,84,78,87,340,85.00
22,Anaya Gawande,84,90,82,88,344,86.00
23,Isha Kamble,79,76,89,92,336,84.00
24,Kaira Nikam,88,80,84,90,342,85.50
25,Tejas Waghmare,85,82,90,85,342,85.50
26,Rishabh Ghadge,92,78,86,81,337,84.25
27,Kunal Kshirsagar,81,81,85,88,335,83.75
28,Tanvi Ingale,78,77,83,92,330,82.50
29,Disha Chavan,86,83,80,89,338,84.50
30,Shreya Dandekar,89,75,88,90,342,85.50
31,Aditi Rajput,90,88,82,87,347,86.75
32,Radhika Ghorpade,83,79,91,88,341,85.25
33,Nikhil Patankar,87,80,89,84,340,85.00
34,Aarvi Bhandari,90,81,85,91,347,86.75
35,Raghav Khedekar,79,86,82,90,337,84.25
36,Sneha Gokhale,88,84,90,86,348,87.00
37,Pooja Mhatre,84,79,88,92,343,85.75
38,Tarun Dhumal,82,87,81,85,335,83.75
39,Arnav Khedkar,85,90,78,89,342,85.50
40,Payal Patil,89,76,87,91,343,85.75
41,Rahul Kadam,81,83,84,90,338,84.50
42,Jaya Bhagat,92,88,76,89,345,86.25
43,Misha Choudhary,78,85,90,86,339,84.75
65,Jay Bhagat,90,77,65,88,320,80.00

In [ ]:
data

In [ ]:
data.to_excel(r"D:\Minskole Batch\Python\Export\Report.xlsx")

In [ ]:
data.to_excel(r"D:\Minskole Batch\Python\Export\Report2.xlsx",index=False)

In [ ]:
data.to_csv(r"D:\Minskole Batch\Python\Export\Report_csv.csv")

In [ ]:
data.to_csv(r"D:\Minskole Batch\Python\Export\Report_csv2.csv",index=False)